@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto:wght@700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto:wght@700&display=swap');

.jumbotron h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body p {
    font-family: 'Comic Neue', cursive;
}

.brand {
    color: aliceblue;
}
footer p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12px;
}

footer h5 {
    color: white;
}

#logo {
    font-size: 35px;
    color:rgb(165, 151, 151);
}

.card {
    margin-bottom: 20px;
}

footer p i {
    font-size: 25px;
    color: white;
}

#foot_location i {
    font-size: 20px;
    color: white;
    margin-right: 5px;
}

#login{
    width: 20rem;
    margin: 3rem auto 3rem;
    border-top: blue solid;
    } 
#buy_card{
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
} 